body {
	// Fixed navbar padding
	@media (min-width: 980px) {
		padding-top: 63px;
	}
}

// Spacelab overrides
.navbar {
	.brand {
		padding: 11px 20px 11px;
	}

	.nav {
		> li {
			> a {
				padding: 11px 10px 11px;
			}
		}
	}
}

// Error page styles
.hero-unit {
	position: relative;

	i.icon {
		position: absolute;
		top: 70px;
		right: 140px;
		font-size: 120px;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.table th, .table td {
	&.text-left {
		text-align: left;
	}

	&.text-center {
		text-align: center;
	}

	&.text-right {
		text-align: right;
	}
}

// Quick centering for block elements
.center  {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

// Quick margin reset
.flush {
	margin: 0;
}

.flush-top {
	margin-top: 0;
}

.flush-right {
	margin-right: 0;
}

.flush-bottom {
	margin-bottom: 0;
}

.flush-left {
	margin-left: 0;
}

// Quick margin helpers
.margin-xlarge {
	margin: 30px
}

.margin-top-xlarge {
	margin-top: 30px
}

.margin-right-xlarge {
	margin-right: 30px
}

.margin-bottom-xlarge {
	margin-bottom: 30px
}

.margin-left-xlarge {
	margin-left: 30px
}

.margin-large {
	margin: 20px
}

.margin-top-large {
	margin-top: 20px
}

.margin-right-large {
	margin-right: 20px
}

.margin-bottom-large {
	margin-bottom: 20px
}

.margin-left-large {
	margin-left: 20px
}

.margin-small {
	margin: 15px
}

.margin-top-small {
	margin-top: 15px
}

.margin-right-small {
	margin-right: 15px
}

.margin-bottom-small {
	margin-bottom: 15px
}

.margin-left-small {
	margin-left: 15px
}

.margin-mini {
	margin: 10px
}

.margin-top-mini {
	margin-top: 10px
}

.margin-right-mini {
	margin-right: 10px
}

.margin-bottom-mini {
	margin-bottom: 10px
}

.margin-left-mini {
	margin-left: 10px
}

// Quick width & height resets
.auto-width {
	width: auto;
	max-width: none;
}

.auto-height {
	height: auto;
	max-height: none;
}

// Quick vertical alignment
.inline {
	display: inline;
	vertical-align: middle;
}

// Quick block element
.block {
	display: block;
}