body {
	// Fixed navbar padding
	@media (min-width: 980px) {
		padding-top: 63px;
	}
}

// Spacelab overrides
.navbar {
	.brand {
		padding: 11px 20px 11px;
	}

	.nav {
		> li {
			> a {
				padding: 11px 10px 11px;
			}
		}
	}
}

// Error page styles
.hero-unit {
	position: relative;

	i.icon {
		position: absolute;
		top: 70px;
		right: 140px;
		font-size: 120px;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.table th, .table td {
	&.text-left {
		text-align: left;
	}

	&.text-center {
		text-align: center;
	}

	&.text-right {
		text-align: right;
	}
}