@media (min-width: 980px) {
  body {
    padding-top: 63px; } }

.navbar .brand {
  padding: 11px 20px 11px; }
.navbar .nav > li > a {
  padding: 11px 10px 11px; }

.hero-unit {
  position: relative; }
  .hero-unit i.icon {
    position: absolute;
    top: 70px;
    right: 140px;
    font-size: 120px; }
