@media (min-width: 980px) {
  body {
    padding-top: 63px; } }

.navbar .brand {
  padding: 11px 20px 11px; }
.navbar .nav > li > a {
  padding: 11px 10px 11px; }

.hero-unit {
  position: relative; }
  .hero-unit i.icon {
    position: absolute;
    top: 70px;
    right: 140px;
    font-size: 120px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.table th.text-left, .table td.text-left {
  text-align: left; }
.table th.text-center, .table td.text-center {
  text-align: center; }
.table th.text-right, .table td.text-right {
  text-align: right; }
